.layout {
  width     : 100%;
  margin-bottom: 20px;

  .AnsBlock {
    font-size: 18px;

    span{
      font-size: 18px;
    }

    button{
      background-color:#375cb7;
      line-height: 18px;
    }
  }
}
